<header id="site-sidebar" class="col-md-3">
  <div class="sidebar-content">
    <a class="logo" href="{{site.baseurl}}/">
      <img class="logo" src="/img/mlmt-logo.png">
    </a>
    <div class="explainer">
      <p>More than a quarter of Missouri's population lives in rural areas. Many of the towns these people live in are beyond the point where our radio signal dies and are outside newspapers’ circulation areas.</p>
      <p>‘My Life, My Town’ documents a slice of time in the lives of teenagers from small Missouri towns. These are the youth who make up the hope and future of rural life – if they decide to stay. Our hope is that getting to know the children these villages raise will provide a unique look at the day-to-day joys and struggles of rural life.</p>
      <p>‘My Life, My Town’ is a collaboration by producers at KBIA and photographers and photo editors at the Columbia Missourian.</p>
    </div>
  </div>
</header>
